/*
 * App Global theme CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Global variables */
@import "globals";

/* Application styles */
@import "theme.design-system";
@import "theme.custom";
@import "theme.base";

/* Components */
@import "components/language";
@import "components/collapsible-header";
@import "components/collapsible-item";
@import "components/error-accordion";
@import "components/reading-mode";
@import "components/format-text";
@import "components/iframe";
@import "components/mod-label";
@import "components/rubrics";
@import "components/table";
@import "components/videojs";

/* Animations */
@import "animations/show-hide";
@import "animations/slide";

/* Ionic components overrides */
@import "components/ionic";


/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import '@ionic/angular/css/normalize.css';
@import '@ionic/angular/css/structure.css';
@import '@ionic/angular/css/typography.css';

/* Optional CSS utils that can be commented out */
@import '@ionic/angular/css/padding.css';
@import '@ionic/angular/css/float-elements.css';
@import '@ionic/angular/css/text-alignment.css';
@import '@ionic/angular/css/text-transformation.css';
@import '@ionic/angular/css/flex-utils.css';
@import '@ionic/angular/css/display.css';


/**
 * Ionic Dark Palette
 * -----------------------------------------------------
 * For more information, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import '@ionic/angular/css/palettes/dark.always'; */
/* @import '@ionic/angular/css/palettes/dark.class'; */
/* @import '@ionic/angular/css/palettes/dark.system'; */

/* Override: Login button primary styling */
ion-button.core-login-login-button {
  --background: rgba(48, 67, 154, 1) !important;
  --background-hover: rgba(48, 67, 154, 1) !important;
  --background-activated: rgba(48, 67, 154, 1) !important;
  --color: #ffffff !important;
  font-size: 1.1rem;
}

/* Increase specificity and cover mode-specific classes */
.core-login-form ion-button.core-login-login-button.button-solid,
ion-content .core-login-form ion-button.core-login-login-button.button-solid {
  --background: rgba(48, 67, 154, 1) !important;
  --background-hover: rgba(48, 67, 154, 1) !important;
  --background-activated: rgba(48, 67, 154, 1) !important;
  --ion-color-primary: rgba(48, 67, 154, 1) !important;
  --ion-color-primary-contrast: #ffffff !important;
  --color: #ffffff !important;
}

/* Fallback: target the inner native button element to override any shadow variable resolution */
ion-button.core-login-login-button .button-native {
  background: rgba(48, 67, 154, 1) !important;
  color: #ffffff !important;
}
